@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.header{
    background: url(img/backgroundSW.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}


.header:before {
	content:'';
	position: fixed;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0.6);
}
.header .navbar {
    background-color: rgba(53, 0, 0, 0.555) !important;
  }
